##
## .gitignore for super_zappy in /home/aracthor/programs/projects/hub/super_zappy
## 
## Made by 
## Login   <aracthor@epitech.net>
## 
## Started on  Sun Nov  9 09:13:09 2014 
## Last Update Mon Jul  6 22:10:22 2015 Aracthor
##

*.o
*.log
*~
*/bin
*/objs
*/log
