##
## .gitignore for super_zappy in /home/aracthor/programs/projects/hub/super_zappy
## 
## Made by 
## Login   <aracthor@epitech.net>
## 
## Started on  Sun Nov  9 09:13:09 2014 
## Last Update Wed Mar  9 10:52:32 2016 Vivien Bonnet
##

*.o
*.log
*~
*/log
