##
## .gitignore for super_zappy in /home/aracthor/programs/projects/hub/super_zappy/graphic/java/ressources
## 
## Made by 
## Login   <aracthor@epitech.net>
## 
## Started on  Sun Nov  9 09:12:47 2014 
## Last Update Sun Nov  9 09:12:54 2014 
##

/plans